{% extends "base.html" %}
{% block title %}Form{% endblock %}
{% block html_head %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>

<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script src="{{ app_url_path }}{{ url_for('static', filename='form.js') }}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='main_style.css') }}">
<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='table_page.css') }}">

{% endblock %}


{% block content %}



<div style="margin: auto; width: 80%; margin-top: 5%; margin-bottom: 5%;">


    <table class="table table-hover table-bordered" style="background-color:white;">
        <thead>
        <tr>

            <th scope="col" style="font-weight: normal;">Request ID</th>
            <th scope="col" style="font-weight: normal;" colspan="2">{{collection_id}}</th>

        </tr>


        <tr class="bg-dark">

            <th scope="col" style="color:white; vertical-align: top;">Role</th>
            <th scope="col" style="color:white;" colspan="2">IDs of users

            <div style="text-align: center; float:right;">
                <button type="button" class="btn btn-success to-show" onclick = "showEditing();">
                    <i class="fa fa-edit"></i>
                    Edit
                </button>
                <button type="button" class="btn btn-success to-hide" onclick = "hideEditing();">
                    <i class="fa fa-check"></i>
                    Finish editing
                </button>
            </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td>Owners</td>
            <td colspan="2">
                {% if owner is defined %}

                {% if owner %}

                {% for r in owner %}
                <div>
                {{r}}
                    {% if r == user_sub %}
                    <button type="button" data-user-id="{{user_sub}}" data-access-type="owner" class="btn btn-outline-danger open-deleteModal to-hide" style="padding:2px; background-color:red; border: white; margin:auto; color:white; font-size:10px;" data-toggle="modal" data-target="#deleteModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>

                        </svg>
                    </button>


                    {% endif %}
                </div>
                {% if r != owner[-1] %}
                <hr>
                {% endif %}
                {% endfor %}

                {% else %}
                <p style="text-align:center">-</p>
                {% endif %}

                {% else %}
                <p style="text-align:center">-</p>
                {% endif %}

                <div id = "add_owner" class = "to-hide">
                    <hr>
                    <div class="input-group mb-3" style="margin-top:15px;">
                        <input type="text" id="input-owner" class="form-control" placeholder="User ID" aria-label="User ID" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success open-addOwnerModal " type="button" data-toggle="modal" data-target="#addOwnerModal">Add user</button>
                        </div>
                    </div>
                </div>

            </td>


        </tr>
        <tr>

            <td>Users with read permission</td>
            <td colspan="2">
                {% if read_permission is defined %}

                {% if read_permission %}

                {% for r in read_permission %}
                <div>
                    {{r}}
                    <button type="button" data-user-id="{{r}}" data-access-type="read_permission" class="btn btn-outline-danger open-deleteModal to-hide" style="padding:2px; background-color:red; border: white; margin:auto; color:white; font-size:10px;" data-toggle="modal" data-target="#deleteModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>

                        </svg>
                    </button>
                    {% if r != read_permission[-1] %}
                    <hr>
                    {% endif %}
                </div>
                {% endfor %}

                {% else %}
                <p style="text-align:center">-</p>
                {% endif %}

                {% else %}
                <p style="text-align:center">-</p>
                {% endif %}

                <div id = "add_read_permission" class = "to-hide">
                <hr>
                <div class="input-group mb-3" style="margin-top:15px;">
                    <input type="text" id="input-read" class="form-control" placeholder="User ID" aria-label="User ID" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" onclick="getReadValue();">Add user</button>
                    </div>
                </div>
                </div>
            </td>


        </tr>
        <tr>

            <td>Users with write permission</td>
            <td colspan="2">
                {% if write_permission is defined %}

                {% if write_permission %}

                {% for r in write_permission %}
                <div>
                    {{r}}
                    <button type="button" data-user-id="{{r}}" data-access-type="write_permission" class="btn btn-outline-danger open-deleteModal to-hide" style="padding:2px; background-color:red; border: white; margin:auto; color:white; font-size:10px;" data-toggle="modal" data-target="#deleteModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>

                        </svg>
                    </button>
                    {% if r != write_permission[-1] %}
                    <hr>
                    {% endif %}
                </div>
                {% endfor %}

                {% else %}
                <p style="text-align:center">-</p>
                {% endif %}

                {% else %}
                <p style="text-align:center">-</p>
                {% endif %}
                <div id = "add_write_permission" class = "to-hide">
                    <hr>
                    <div class="input-group mb-3" style="margin-top:15px;">
                        <input type="text"  id="input-write" class="form-control" placeholder="User ID" aria-label="User ID" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" onclick="getWriteValue();">Add user</button>
                        </div>
                    </div>
                </div>
            </td>



        </tr>
        </tbody>
    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:16px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmDeletionBtn">Yes</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addOwnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examplуAdditionModalLongTitle">Confirm your actions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:16px;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to give this user ownership rights? You will not be able to revoke your permission later.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmAdditionBtn">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>

        $(document).on("click", ".open-deleteModal", function () {
                 var userId = $(this).data('user-id');
                 var accessType = $(this).data('access-type');
                 $('.modal-footer #confirmDeletionBtn').click(function(){location.href = "{{app_url}}/access/delete/"+ accessType +"/{{collection_id}}/"+ userId;});

        });

         $(document).on("click", ".open-addOwnerModal", function () {
                 var inputVal = document.getElementById("input-owner").value;


                 $('.modal-footer #confirmAdditionBtn').click(function(){location.href = "{{app_url}}/access/add/owner/{{collection_id}}/"+ inputVal});

        });

        function setCookie(cname, value) {
           document.cookie = cname + "=" + value;
        }

        function getCookie(cname) {
              let name = cname + "=";
              let decodedCookie = decodeURIComponent(document.cookie);
              let ca = decodedCookie.split(';');
              for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
        }

        function showEditing(){
            $('.to-hide').show();
            $('.to-show').hide();
            setCookie('Show', 'true');
        };

        function hideEditing(){
            $('.to-hide').hide();
            $('.to-show').show();
            setCookie('Show', 'false');
        };

        function getOwnerValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("input-owner").value;

            window.location.replace("{{app_url}}/access/add/owner/{{collection_id}}/"+ inputVal);
        };

        function getReadValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("input-read").value;

            window.location.replace("{{app_url}}/access/add/read_permission/{{collection_id}}/"+ inputVal);
        };

        function getWriteValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("input-write").value;

            window.location.replace("{{app_url}}/access/add/write_permission/{{collection_id}}/"+ inputVal);

        };

        $(function(){
            if (getCookie('Show') == 'true' && getCookie('Show') != "" ){
                showEditing();
                } else {
                    hideEditing();
                }
        });

    </script>

{% endblock %}





