<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0;">
    <title>{% block title %}{% endblock %} - BotDetector</title>
    <link rel="icon" type="image/x-icon" href="{{ app_url }}/static/images/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='main_style.css') }}">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="{{ app_url_path }}{{ url_for('static', filename='script.js') }}"></script>
    {% block html_head %}{% endblock %}
</head>
<body>

<nav>
    <ul>
        <a id="icon" href="{{app_url}}/"><div id="div-nav-logo"><img id="nav-logo" src="{{ app_url_path }}{{ url_for('static', filename='/images/favicon.png') }}" alt="logo"></div></a>
        <i id = "burger" class="fa fa-bars" onclick="displaymenu();"></i>
        <li><a href="{{app_url}}/">Home</a></li>
        <li><a href="{{app_url}}/index">Request form</a></li>
        <li><a href="{{app_url}}/result/{{example_db}}">Example result</a></li>
        <li><a href="{{app_url}}/user-check/form">Check account</a></li>


        {% if user_name is defined %}
        <li class="nav-item dropdown login-icon" >
            <a class="nav-link dropdown-toggle" href="{{app_url}}/profile" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> {{ user_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{app_url}}/profile">Profile</a>
                <a class="dropdown-item" href="{{app_url}}/dashboard">Dashboard</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{app_url}}/logout">Log out</a>
            </div>
        </li>

        {% else %}
        <li class="login-icon" style="float:right"><a href="{{app_url}}/profile"><i class="fa fa-sign-in"></i> Login</a></li>
        {% endif %}


    </ul>

</nav>
<div id="body-content">
    {% block content %}

    <div id="big-bird" style="background-image: url('{{ app_url_path }}{{ url_for('static', filename='images/bird-bot.png') }}');">
        <h1>Detect Bots Now!</h1>
        <h2>Start searching for malicious bots</h2>
        <h2 class="app-info" >
            Social bots can impersonate real users and manipulate social media discussions with the aim of spreading false information, supporting (or destroying) reputations, influencing opinions or manipulating markets.
            <br>
            <br>
            In BotDetector, we propose a new method for the detection of malicious social bots on Twitter using Artificial Immune System based on the <a href="https://doi.org/10.1007/s10115-015-0891-y" class="link-not-btn">Dendritic Cell algorithm</a>.
            <br>
            <br>
            BotDetector can check either <a href="{{app_url}}/user-check/form" class="btn btn-primary btn-sm link-btn" >individual accounts</a> or multiple user accounts that posted tweets containing <a href="{{app_url}}/index" class="btn btn-primary link-btn" >queried keywords</a>.
            <br>
            <br>
            BotDetector allows users to check not only if an account is a bot, but also its intentions.
            <br>This makes it possible, for example, to detect malicious bots.
        </h2>
        <div class="bottomright">
            <a href="https://www.motherjones.com/media/2018/08/how-to-identify-russian-bots-twitter/">Mother Jones illustration</a>
        </div>
    </div>

    {% endblock %}
</div>

    <footer>
        <a href="{{app_url}}/"><div id="div-footer-logo"><img id="footer-logo" src="{{ app_url_path }}{{ url_for('static', filename='/images/favicon.png') }}" alt="logo"></div></a>
        <p>Bot Icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        <p>&copy; 2022 Copyright: <a href="{{app_url}}/">BotDetector</a></p>
        <address><i class="fa fa-map-marker" style="font-size:16px; color: white;"></i> &nbsp; Aachen, Germany</address>
        <p><a id="email" href="https://github.com/rwth-acis/Detection-of-MSBs-in-OSNs-using-AIS"><i style="font-size:16px; color: white;" class="fa fa-github"></i> &nbsp; GitHub repository</a></p>
    </footer>
</body>
</html>