{% extends "base.html" %}

{% block title %}Result{% endblock %}

{% block html_head %}
<!--<meta http-equiv="refresh" content="10">-->
<script src="https://d3js.org/d3.v7.min.js"></script>

<!---->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.css" />

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.jqueryui.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.js"></script>
<!--   -->

<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='table_page.css') }}">



<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='jQuery-plugin-progressbar.css') }}">
<script src="{{ app_url_path }}{{ url_for('static', filename='jQuery-plugin-progressbar.js') }}"></script>

{% endblock %}


{% block content %}


<div class="title-section" style="text-align:center; padding:10px;">
    Request history:
</div>
<div id="scroll1" style="overflow-x:scroll; padding-left:0; padding-right:0px;">
    <div></div>
</div>
<div id="div-main-table" class="display nowrap" style="margin-bottom: 30px;">


    <table id="main-table">
        <thead>
        <tr>
            <th>Time of creation</th>
            <th>Keywords</th>
            <th>Limit of users for checking</th>
            <th>Search type</th>
            <th>Additional parameters for tweets</th>
            <th>Search is complete</th>
            <th>Link</th>


        </tr>
        </thead>

        <tbody>
        {% for request in requests %}
        <tr>

            <td>
                {{request["_id"]}}
            </td>

            <td>
                {{request["keywords"]}}
            </td>

            <td>
                {{request["limit"]}}
            </td>

            <td>
                {% if request["SearchParameters1"] == "real-time" %}
                Check the real-time stream of public tweets
                {% endif %}
                {% if request["SearchParameters1"] == "time-period" %}
                Check tweets from {{request["start_date"]}} - {{request["end_date"]}}
                {% endif %}
                {% if request["SearchParameters1"] == "seven-days" %}
                Check tweets from the last 7 days
                {% endif %}
                {% if request["SearchParameters1"] == "recent" %}
                Check the most recent tweets
                {% endif %}
                {% if request["SearchParameters1"] == "popular" %}
                Check the most popular tweets
                {% endif %}
                {% if request["SearchParameters1"] == "mixed" %}
                Check both popular and most recent tweets
                {% endif %}
            </td>

            <td>
                {% if request["areaParameters1"] == "do-not" %}
                <p>&bull; Do not check retweets</p>
                {% endif %}
                {% if request["areaParameters1"] == "only" %}
                <p>&bull; Only check retweets</p>
                {% endif %}

                {% if request["areaParameters2"] == "do-not" %}
                <p>&bull; Do not check tweets that contain URLs</p>
                {% endif %}
                {% if request["areaParameters2"] == "only" %}
                <p>&bull; Only check tweets that contain a URL</p>
                {% endif %}

                {% if request["areaParameters3"] == "do-not" %}
                <p>&bull; Do not check tweets that contain media (e.g. photos or videos)</p>
                {% endif %}
                {% if request["areaParameters3"] == "only" %}
                <p>&bull; Only check tweets that contain media (e.g. photos or videos)</p>
                {% endif %}

            </td>

            {% if "completed" in request %}

            {% if request["completed"] != True %}
            <td class="red">
                False
            </td>
            {% else %}
            <td class="green">
                True
            </td>
            {% endif %}

            {% else %}
            <td class="orange">
                -
            </td>
            {% endif %}


            <td><a href="{{app_url}}/result/{{ request['collection'] }}" class="btn btn-info" target="_blank">Get more information</a></td>

        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>

    </table>
</div>

<script>

            $(document).ready(function(){

                $('#main-table').DataTable({
                    stateSave: true,
                    dom: 'lfrtip',
                    "lengthMenu": [10,25,50,100]
                 });


                $("#scroll1 div").width($("#main-table").width());
                $("#scroll1").on("scroll", function(){
                    $("#div-main-table").scrollLeft($(this).scrollLeft());
                });
                $("#div-main-table").on("scroll", function(){
                    $("#scroll1").scrollLeft($(this).scrollLeft());
                 });

            });


    </script>

{% endblock %}