{% extends "base.html" %}
{% block title %}Form{% endblock %}
{% block html_head %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
<script src="{{ app_url_path }}{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}


{% block content %}
        <div class="form-style-10">
            <h1>Detect Bots Now!<span>Enter required parameters and start searching for malicious bots!</span></h1>
            <form action='{{app_url}}/part-result' method="POST">
                <div class="section"><span>1</span>Tweets Parameters</div>
                <div class="inner-wrap">
                    <h2>Specify the area where you want to detect the activity of malicious bots:</h2>
                    <label>Enter keywords and/or hashtags separated by commas:<input type="text" name="keywords" /></label>
                    <div class="areaParameters">
            
                        <label><input type="radio"
                         name="areaParameters1" value="only"> Only check retweets</label>

                        
                        <label><input type="radio"
                         name="areaParameters1" value="do-not"> Do not check retweets</label>

                       
                        <label><input type="radio"
                         name="areaParameters1" value="all"  checked> Check all</label>
                   </div>
                   <div class="areaParameters">
            
                        <label><input type="radio"
                         name="areaParameters2" value="only" onclick="valueCheckLinks()"> Only check tweets that contain a URL</label>

                        
                        <label><input type="radio"
                         name="areaParameters2" value="do-not" onclick="valueCheckLinks()"> Do not check tweets that contain URLs</label>

                       
                        <label><input type="radio"
                         name="areaParameters2" value="all" onclick="valueCheckLinks()"  checked> Check all</label>
                   </div>
                   <div class="areaParameters">
            
                        <label><input type="radio"
                         name="areaParameters3" value="only"  onclick="valueCheckMedia()"> Only check tweets that contain media (e.g. photos or videos)</label>

                        
                        <label><input type="radio"
                         name="areaParameters3" value="do-not"  onclick="valueCheckMedia()"> Do not check tweets that contain media (e.g. photos or videos)</label>

                       
                        <label><input type="radio"
                         name="areaParameters3" value="all" onclick="valueCheckMedia()"  checked> Check all</label>
                   </div>
                </div>

                <div class="section"><span>2</span>Search Parameters</div>
                <div class="inner-wrap">
                   <h2>Select the data collection method and the number of users that you want to check:</h2>
                    <div class="areaParameters">
            
                        <label><input type="radio"
                         name="SearchParameters1" id="seven-days" value="seven-days"  onclick="valueCheck()"> Check tweets from the last 7 days</label>

                        
                        <label><input type="radio"
                         name="SearchParameters1" id="real-time" value="real-time" onclick="valueCheck()" checked> Check the real-time stream of public tweets</label>

                       
                        <label><input type="radio"
                         name="SearchParameters1" id="time-period" value="time-period" onclick="valueCheck()"> Another period of time:</label>
                         <div id="time-periods">
                             <label>Start Date:<input type="date" id="start-date" name="start-date" min="2022-04-01" max="2022-04-12"/></label>
                             <label>End date:<input type="date" id="end-date" name="end-date" min="2022-04-01" max="2022-04-12"/></label>

                         </div>
                         
                   </div>
                   <div class="areaParameters">
                   <label>Maximum number of users to be checked:<input type="text" name="limit" value="100" /></label>
                   </div>
                </div>

                <!--
                <div class="section"><span>3</span>Twitter API Credentials</div>
                <div class="inner-wrap">
                    <h2>You can enter your own Twitter API credentials in order not to be affected by the limitations of our application:
                    <hr>These fields are optional!
                    </h2>

                    <div class="areaParameters">
                        <label>Consumer Key:  <input type="password" /></label>
                        <label>Consumer Secret:  <input type="password" /></label>
                        <label>Access Token:  <input type="password" /></label>
                        <label>Access Token Secret: <input type="password" /></label>
                    </div>
                    <div class="areaParameters">
                        <span id="or">OR</span>
                    </div>
                    <div class="areaParameters">
                        <label>Bearer Token: <input type="password" /></label>
                    </div>
                </div>
                -->
                <div class="button-section">
                    <input type="submit" name="submit" value="Submit" />

                </div>
            </form>
        </div>
{% endblock %}