{% extends "base.html" %}
{% block title %}Form{% endblock %}
{% block html_head %}

<link rel="stylesheet" href=
        "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href=
        "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity=
              "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>

<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script src="{{ app_url_path }}{{ url_for('static', filename='form.js') }}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='main_style.css') }}">
<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='table_page.css') }}">


{% endblock %}


{% block content %}



<div style="margin: auto; width: 80%; margin-top: 5%;">


    <table class="table table-hover table-bordered" style="background-color:white; word-break: break-all;">
        <thead>
        <tr>

            <th scope="col">Parameter</th>
            <th scope="col">Value</th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td>Name</td>
            <td>{{name}}</td>

        </tr>
        <tr>

            <td>E-mail</td>
            <td>{{email}}</td>

        </tr>
        <tr>

            <td>User ID</td>
            <td>{{user_id}}</td>

        </tr>
        </tbody>
    </table>

</div>




<div style="margin: auto; width: 80%; margin-top: 5%; padding-bottom: 25px;">


    <table class="table table-hover table-bordered" style="background-color:white;">
        <thead>
        <tr>

            <th scope="col" colspan="2">
                <p class="d-inline position-relative">
                Twitter API credentials

                {% if in_use is defined %}
                {% if in_use%}
                <span class="position-absolute top-0 start-100 translate-middle badge badge-pill badge-success bdg-credentials">in use</span>
                {% endif %}
                {% endif %}

                {% if in_use is defined %}
                {% if not in_use%}
                {% if tried_to_use is defined %}
                {% if tried_to_use %}
                <span class="position-absolute top-0 start-100 translate-middle badge badge-pill badge-danger bdg-credentials">not valid</span>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                </p>


                <div style="text-align: center; float:right; margin-left: 50px;">
                    <button type="button" class="btn btn-primary to-show" onclick = "showEditing();">
                        <i class="fa fa-edit"></i>
                        Edit
                    </button>
                    <button type="button" class="btn btn-primary to-hide" onclick = "hideEditing(); updateCredentials();">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <i class="btn btn-dark bi bi-eye-slash"
                       id="btn-hide-password"></i>
                </div>
            </th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td>API Key</td>
            <td>
                {% if api_key is defined %}
                <p class="to-show password-to-hide">{{api_key}}</p>
                {% else %}
                <p style="text-align:center" class="to-show">-</p>
                {% endif %}

                <div id = "api_key" class = "to-hide">
                    <div class="input-group mb-3" style="margin-top:15px;">
                        <input type="text" id="input_api_key" class="form-control password-to-hide" placeholder="API Key" aria-label="API Key" aria-describedby="basic-addon2" value="{{api_key}}">
                    </div>
                </div>




            </td>

        </tr>
        <tr>

            <td>API Key Secret</td>
            <td>
                {% if api_key_secret is defined %}
                <p class="to-show password-to-hide">{{api_key_secret}}</p>
                {% else %}
                <p style="text-align:center"  class="to-show">-</p>
                {% endif %}

                <div id = "api_key_secret" class = "to-hide">
                    <div class="input-group mb-3" style="margin-top:15px;">
                        <input type="text" id="input_api_key_secret" class="form-control password-to-hide" placeholder="API Key Secret" aria-label="AAPI Key Secret" aria-describedby="basic-addon2" value="{{api_key_secret}}">
                    </div>
                </div>

            </td>

        </tr>
        <tr>

            <td>Access Token</td>
            <td>
                {% if access_token is defined %}
                <p class="to-show password-to-hide">{{access_token}}</p>
                {% else %}
                <p style="text-align:center"  class="to-show">-</p>
                {% endif %}

                <div id = "access_token" class = "to-hide">
                    <div class="input-group mb-3" style="margin-top:15px;">
                        <input type="text" id="input_access_token" class="form-control password-to-hide" placeholder="Access Token" aria-label="Access Token" aria-describedby="basic-addon2" value="{{access_token}}">
                    </div>
                </div>

            </td>

        </tr>

        <tr>

            <td>Access Token Secret</td>
            <td>
                {% if access_token_secret is defined %}
                <p class="to-show password-to-hide">{{access_token_secret}}</p>
                {% else %}
                <p style="text-align:center"  class="to-show">-</p>
                {% endif %}

                <div id = "access_token_secret" class = "to-hide">
                    <div class="input-group mb-3" style="margin-top:15px;">
                        <input type="text" id="input_access_token_secret" class="form-control password-to-hide" placeholder="Access Token Secret" aria-label="Access Token Secret" aria-describedby="basic-addon2" value="{{access_token_secret}}">
                    </div>
                </div>

            </td>

        </tr>
        <tr>

            <td colspan="2" style="text-align: center;" class="to-show">


                {% if in_use is defined %}
                {% if not in_use%}
                <button type="button" class="btn btn-success to-show" onclick = "location.href = '{{app_url}}/profile/use/credentials';">
                    <i class="fa fa-power-off"></i>
                    Use your credentials to make requests
                </button>
                {% if tried_to_use is defined %}
                {% if tried_to_use %}
                <hr>
                Your credentials are invalid
                {% if exception is defined %}
                {% if exception %}
                <hr>
                {{exception}}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% else %}
                <button type="button" class="btn btn-danger to-show" onclick = "location.href = '{{app_url}}/profile/do-not-use/credentials';">
                    <i class="fa fa-power-off"></i>
                    Stop using your credentials to make requests
                </button>
                {% endif %}
                {% endif %}

            </td>

        </tr>
        </tbody>
    </table>

</div>


<script>


        function tryToUseCredentials(){
            alert("tryToUseCredentials");
        };


        function setCookie(cname, value) {
           document.cookie = cname + "=" + value;
        }

        function getCookie(cname) {
              let name = cname + "=";
              let decodedCookie = decodeURIComponent(document.cookie);
              let ca = decodedCookie.split(';');
              for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
        }

        function showEditing(){
            $('.to-hide').show();
            $('.to-show').hide();
            setCookie('Show-credentials', 'true');
            $(".password-to-hide").removeClass("password_field");
        };

        function hideEditing(){
            $('.to-hide').hide();
            $('.to-show').show();
            setCookie('Show-credentials', 'false');
        };

        function getOwnerValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("input-owner").value;

            window.location.replace("{{app_url}}/access/add/owner/{{collection_id}}/"+ inputVal);
        };

        function getReadValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("input-read").value;

            window.location.replace("{{app_url}}/access/add/read_permission/{{collection_id}}/"+ inputVal);
        };

        function getWriteValue(){
            // Selecting the input element and get its value
            var inputVal = document.getElementById("input-write").value;

            window.location.replace("{{app_url}}/access/add/write_permission/{{collection_id}}/"+ inputVal);

        };

        function updateCredentials(){
             // Selecting the input element and get its value

            var access_token_secret = document.getElementById("input_access_token_secret").value;
            var access_token = document.getElementById("input_access_token").value;
            var api_key_secret = document.getElementById("input_api_key_secret").value;
            var api_key = document.getElementById("input_api_key").value;

            window.location.replace("{{app_url}}/profile/update/credentials?api_key=" + api_key + "&api_key_secret=" + api_key_secret + "&access_token=" + access_token + "&access_token_secret=" + access_token_secret);

        };

        $(function(){
            if (getCookie('Show-credentials') == 'true' && getCookie('Show-credentials') != "" ){
                showEditing();
                } else {
                    hideEditing()
                }
        });

        $(document).ready(function(){

          $(".password-to-hide").toggleClass("password_field");

          $("#btn-hide-password").on("click", function(){
            $(".password-to-hide").toggleClass("password_field");
            this.classList.toggle('bi-eye');
          });


        });

    </script>


{% endblock %}