{% extends "base.html" %}
{% block title %}Form{% endblock %}
{% block html_head %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>

<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script src="{{ app_url_path }}{{ url_for('static', filename='form.js') }}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='main_style.css') }}">


{% endblock %}


{% block content %}



<div style="margin: auto; width: 80%; margin-top: 5%;">


    <table class="table table-hover" style="background-color:white;">
        <thead>
        <tr>

            <th scope="col">Parameter</th>
            <th scope="col">Value</th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td>Name</td>
            <td>{{name}}</td>

        </tr>
        <tr>

            <td>E-mail</td>
            <td>{{email}}</td>

        </tr>
        <tr>

            <td>User ID</td>
            <td>{{user_id}}</td>

        </tr>
        </tbody>
    </table>

</div>
{% endblock %}