{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block html_head %}
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='tweets.css') }}">


<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='tweet_to_html.js') }}"></script>
<script src="{{ url_for('static', filename='user.js') }}"></script>

{% endblock %}


{% block content %}
<div id="main-table-div">
<div id="div-main-table">
    <table id="main-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Created at</th>
            <th>User description</th>
            <th>Tweet</th>
            <th>Statuses count</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td class="user"><span id="screen-name"><a href='https://twitter.com/{{user["user"]["screen_name"]}}'>@{{user["user"]["screen_name"]}}</a></span> <br>  (<span id="name">{{user["user"]["name"]}}</span>)</td>
            <td id="created-at">{{user["user"]["created_at"]}}</td>
            <td class="text">{{user["user"]["description"]}}</td>
            <td class="text found-tweet">{{tweet}}</td>
            <td>{{user["user"]["statuses_count"]}}</td>


        </tr>
        </tbody>

    </table>
</div>
</div>
<div class="signals-table-div">
    <table class="signals-table">
        <thead>
        <tr>

            <th>Is a bot (probability)</th>
            <th>Default profile</th>
            <th>Default profile image</th>
            <th>Average tweet similarity</th>
            <th>Tweeting time entropy</th>
            <th>Retweet-to-tweet ratio</th>
            <th>Quote-to-tweet ratio</th>
            <th>Followers friends ratio</th>
            <th>Friends growth rate</th>
            <th>Tweets growth rate</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            {% if user["signals"]["is_bot_probability"] >= 50 %}
            <td class="red"><div class="div-red">{{user["signals"]["is_bot_probability"]}}%</div></td>
            {% else %}
            {% if user["signals"]["is_bot_probability"] >= 30 %}
            <td class="orange"><div class="div-orange">{{user["signals"]["is_bot_probability"]}}%</div></td>
            {% else %}
            <td class="green"><div class="div-green">{{user["signals"]["is_bot_probability"]}}%</div></td>
            {% endif %}
            {% endif %}

            <td>{{user["user"]["default_profile"]}}</td>
            <td>{{user["user"]["default_profile_image"]}}</td>

            {% if not(user["signals"]["avg_tweet_similarity"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["avg_tweet_similarity"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["time_entropy"] is none)%}
            <td>{{"{:.2f}".format(user["signals"]["time_entropy"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["retweet_tweet_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["retweet_tweet_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["quote_tweet_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["quote_tweet_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["followers_friends_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["followers_friends_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["friends_growth_rate"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["friends_growth_rate"])}} friends per day</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["statuses_growth_rate"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["statuses_growth_rate"])}} tweets per day</td>
            {% else %}
            <td>-</td>
            {% endif %}


        </tr>
        </tbody>

    </table>
</div>
<div class="signals-table-div">
    <table class="signals-table">
        <thead>
        <tr>
            <th>Intentions are bad (probability)</th>
            <th>Verified</th>
            <th>Identifies itself as bot</th>
            <th>Number of malicious URLs</th>
            <th>URL-to-tweet ratio</th>
            <th>User mentions-to-tweet ratio</th>
            <th>Hashtag-to-tweet ratio</th>
            <th>Average favorite count</th>
            <th>Average retweet count</th>

        </tr>
        </thead>

        <tbody>
        <tr>
            {% if user["signals"]["intentions_are_bad_probability"] >= 50 %}
            <td class="red"><div class="div-red">{{user["signals"]["intentions_are_bad_probability"]}}%</div></td>
            {% else %}
            {% if user["signals"]["intentions_are_bad_probability"] >= 30 %}
            <td class="orange"><div class="div-orange">{{user["signals"]["intentions_are_bad_probability"]}}%</div></td>
            {% else %}
            <td class="green"><div class="div-green">{{user["signals"]["intentions_are_bad_probability"]}}%</div></td>
            {% endif %}
            {% endif %}

            <td>{{user["user"]["verified"]}}</td>
            <td>{{user["signals"]["identifies_itself_as_bot"]}}</td>

            {% if not(user["signals"]["is_sensitive_count"] is none) %}
            <td>{{user["signals"]["is_sensitive_count"]}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["url_tweet_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["url_tweet_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["user_mentions_tweet_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["user_mentions_tweet_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["hashtag_tweet_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["hashtag_tweet_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["average_favorite_count"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["average_favorite_count"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

            {% if not(user["signals"]["average_retweet_count"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["average_retweet_count"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}

        </tr>
        </tbody>

    </table>
</div>
<div class="recent-tweets">
    <h1>Recent Tweets:</h1>
</div>
<div id="tweets">
{{tweetArr}}
</div>
<div id="profile-image" style="display:none;">{{user["user"]["profile_image_url_https"]}}</div>
{% endblock %}