{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block html_head %}
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='jQuery-plugin-progressbar.css') }}">

<script src="{{ app_url_path }}{{ url_for('static', filename='jQuery-plugin-progressbar.js') }}"></script>


<link rel="stylesheet" href="{{ app_url_path }}{{ url_for('static', filename='tweets.css') }}">


<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>


<script src="{{ app_url_path }}{{ url_for('static', filename='tweet_to_html.js') }}"></script>
<script src="{{ app_url_path }}{{ url_for('static', filename='user.js') }}"></script>


{% endblock %}


{% block content %}

<div id="main-table-div">
<div id="div-main-table">
    <table id="main-table">

        <tr>
            <th>User</th>
            <td class="user"><span id="screen-name-raw" style="display: none;">{{user["user"]["screen_name"]}}</span> <span id="screen-name"><a href='https://twitter.com/{{user["user"]["screen_name"]}}'>@{{user["user"]["screen_name"]}}</a></span> <br>  (<span id="name">{{user["user"]["name"]}}</span>)</td>

        </tr>
        <tr>
            <th>Created at</th>
            <td id="created-at">{{user["user"]["created_at"]}}</td>
        </tr>
        <tr>
            <th>User description</th>
            <td class="text">{{user["user"]["description"]}}</td>
        </tr>
        <tr>
            <th>Tweet</th>
            <td class="text found-tweet">{{tweet}}</td>
        </tr>
        <tr>
            <th>Statuses count</th>
            <td>{{user["user"]["statuses_count"]}}</td>
        </tr>


    </table>
</div>
</div>
<div class="signals-table-div">
    <table class="signals-table">
        <tr>

            <th>Is a bot (probability)</th>
            {% if user["signals"]["is_bot_probability"] >= 50 %}
            <td class="red">
                <div class="progress-bar position" data-percent='{{user["signals"]["is_bot_probability"]}}' data-duration="800" data-color="white,red,red"></div>
            </td>
            {% else %}
            {% if user["signals"]["is_bot_probability"] >= 30 %}
            <td class="orange">
                    <div class="progress-bar position" data-percent='{{user["signals"]["is_bot_probability"]}}' data-duration="800" data-color="white,orange,orange"></div>
            </td>
            {% else %}
            <td class="green">
                <div class="progress-bar position" data-percent='{{user["signals"]["is_bot_probability"]}}' data-duration="800" data-color="white,green,green"></div>
            </td>
            {% endif %}
            {% endif %}
        </tr>
        <tr>
            <th>Default profile
                <span data-toggle="tooltip" data-placement="top" data-html="true" title='<p style="font-size: 12px;">When true, indicates that the user has not altered the theme or background of their user profile.</p>' style="font-size: 12px;">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
            </th>
            {% if user["user"]["default_profile"] == True %}
            <td class="orange">{{user["user"]["default_profile"]}}</td>
            {% else %}
            <td class="green">{{user["user"]["default_profile"]}}</td>
            {% endif %}

        </tr>
        <tr>
            <th>Default profile image</th>
            {% if user["user"]["default_profile_image"] == True %}
            <td class="red">{{user["user"]["default_profile_image"]}}</td>
            {% else %}
            <td class="green">{{user["user"]["default_profile_image"]}}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Average tweet similarity</th>
            {% if not(user["signals"]["avg_tweet_similarity"] is none) %}
            {% if user["signals"]["avg_tweet_similarity"] >= 0.4 %}
            <td class="red">
                <div class="progress-bar position" data-ispercent="'false'"  data-percent='{{("{:.2f}".format(user["signals"]["avg_tweet_similarity"]))}}' data-duration="800" data-color="white,red,red"></div>
            </td>
            {% else %}
            {% if user["signals"]["avg_tweet_similarity"] >= 0.25 %}
            <td class="orange">
                <div class="progress-bar position" data-ispercent="'false'" data-percent='{{("{:.2f}".format(user["signals"]["avg_tweet_similarity"]))}}' data-duration="800" data-color="white,orange,orange"></div>
            </td>
            {% else %}
            <td class="green">
                <div class="progress-bar position" data-ispercent="'false'"  data-percent='{{("{:.2f}".format(user["signals"]["avg_tweet_similarity"]))}}' data-duration="800" data-color="white,green,green"></div>
            </td>
            {% endif %}
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}


        </tr>
        <tr>
            <th>Tweeting time entropy
                <span data-toggle="tooltip" data-placement="top" data-html="true" title='<p style="font-size: 12px;">Time interval entropy is used to capture regularity of tweeting behavior which indicates automation.</p>' style="font-size: 12px;">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
            </th>

            {% if not(user["signals"]["time_entropy"] is none)%}
            {% if user["signals"]["time_entropy"] <= 1.8 %}
            <td class="red">
                {{"{:.2f}".format(user["signals"]["time_entropy"])}}
            </td>
            {% else %}
            {% if user["signals"]["time_entropy"] <= 2.4 %}
            <td class="orange">
                {{"{:.2f}".format(user["signals"]["time_entropy"])}}
            </td>
            {% else %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["time_entropy"])}}
            </td>
            {% endif %}
            {% endif %}

            {% else %}
            <td>-</td>
            {% endif %}


        </tr>
        <tr>
            <th>Number of time intervals between tweets that are < 10 sec</th>
            {% if not(user["signals"]["small_interval_between_tweets_count"] is none) %}
            {% if user["signals"]["small_interval_between_tweets_count"] > 3 %}
            <td class="red">
                {{user["signals"]["small_interval_between_tweets_count"]}}
            </td>
            {% else %}
            {% if user["signals"]["small_interval_between_tweets_count"] > 0 %}
            <td class="orange">
                {{user["signals"]["small_interval_between_tweets_count"]}}
            </td>
            {% else %}
            <td class="green">
                {{user["signals"]["small_interval_between_tweets_count"]}}
            </td>
            {% endif %}
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Retweet-to-tweet ratio</th>
            {% if not(user["signals"]["retweet_tweet_ratio"] is none) %}
            {% if user["signals"]["retweet_tweet_ratio"] >= 0.7 %}
            <td class="orange">
                <div class="progress-bar position" data-ispercent="'false'"  data-percent='{{"{:.2f}".format(user["signals"]["retweet_tweet_ratio"])}}' data-duration="800" data-color="white,red,red"></div>
            </td>
            {% else %}
            <td class="green">
                <div class="progress-bar position" data-ispercent="'false'"  data-percent='{{"{:.2f}".format(user["signals"]["retweet_tweet_ratio"])}}' data-duration="800" data-color="white,green,green"></div>
            </td>
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}

        </tr>
        <tr>
            <th>Quote-to-tweet ratio</th>
            {% if not(user["signals"]["quote_tweet_ratio"] is none) %}
            {% if user["signals"]["quote_tweet_ratio"] >= 0.7 %}
            <td class="orange">
                <div class="progress-bar position" data-ispercent="'false'"  data-percent='{{"{:.2f}".format(user["signals"]["quote_tweet_ratio"])}}' data-duration="800" data-color="white,red,red"></div>
            </td>
            {% else %}
            <td class="green">
                <div class="progress-bar position" data-ispercent="'false'"  data-percent='{{"{:.2f}".format(user["signals"]["quote_tweet_ratio"])}}' data-duration="800" data-color="white,green,green"></div>
            </td>
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Followers friends ratio</th>
            {% if not(user["signals"]["followers_friends_ratio"] is none) %}
            <td>{{"{:.2f}".format(user["signals"]["followers_friends_ratio"])}}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Friends growth rate <br>(friends per day)</th>
            {% if not(user["signals"]["friends_growth_rate"] is none) %}
            {% if user["signals"]["friends_growth_rate"] >= 10 %}
            <td class="red">
                {{"{:.2f}".format(user["signals"]["friends_growth_rate"])}}
            </td>
            {% else %}
            {% if user["signals"]["friends_growth_rate"] >= 5 %}
            <td class="orange">
                {{"{:.2f}".format(user["signals"]["friends_growth_rate"])}}
            </td>
            {% else %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["friends_growth_rate"])}}
            </td>
            {% endif %}
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Tweets growth rate <br>(tweets per day)</th>
            {% if not(user["signals"]["statuses_growth_rate"] is none) %}
            {% if user["signals"]["statuses_growth_rate"] >= 30 %}
            <td class="red">
                {{"{:.2f}".format(user["signals"]["statuses_growth_rate"])}}
            </td>
            {% else %}
            {% if user["signals"]["statuses_growth_rate"] >= 20 %}
            <td class="orange">
                {{"{:.2f}".format(user["signals"]["statuses_growth_rate"])}}
            </td>
            {% else %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["statuses_growth_rate"])}}
            </td>
            {% endif %}
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>

    </table>
</div>
<div class="signals-table-div">
    <table class="signals-table">
        <tr>
            <th>Intentions are bad (probability)</th>
            {% if user["signals"]["intentions_are_bad_probability"] >= 50 %}
            <td class="red">
                <div class="progress-bar position" data-percent='{{user["signals"]["intentions_are_bad_probability"]}}' data-duration="800" data-color="white,red,red"></div>
            </td>
            {% else %}
            {% if user["signals"]["intentions_are_bad_probability"] >= 30 %}
            <td class="orange">
                <div class="progress-bar position" data-percent='{{user["signals"]["intentions_are_bad_probability"]}}' data-duration="800" data-color="white,orange,orange"></div>
            </td>
            {% else %}
            <td class="green">
                <div class="progress-bar position" data-percent='{{user["signals"]["intentions_are_bad_probability"]}}' data-duration="800" data-color="white,green,green"></div>
            </td>
            {% endif %}
            {% endif %}
        </tr>
            <th>Verified</th>

            {% if user["user"]["verified"] == False %}
            <td class="orange">{{user["user"]["verified"]}}</td>
            {% else %}
            <td class="green">{{user["user"]["verified"]}}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Identifies itself as bot</th>

            {% if user["signals"]["identifies_itself_as_bot"] == False %}
            <td style="text-align: center;">{{user["user"]["verified"]}}</td>
            {% else %}
            <td class="green">{{user["signals"]["identifies_itself_as_bot"]}}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Number of malicious URLs
                <span data-toggle="tooltip" data-placement="top" data-html="true" title='<p style="font-size: 12px;">Number of URLs contained in tweets that may contain content or media identified as sensitive content.</p>' style="font-size: 12px;">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
            </th>
            {% if not(user["signals"]["is_sensitive_count"] is none) %}
            {% if user["signals"]["is_sensitive_count"] > 0 %}
            <td class="red">{{user["signals"]["is_sensitive_count"]}}</td>
            {% else %}
            <td class="green">{{user["signals"]["is_sensitive_count"]}}</td>
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>URL-to-tweet ratio</th>
            {% if not(user["signals"]["url_tweet_ratio"] is none) %}

            {% if user["signals"]["url_tweet_ratio"] >= 0.9 %}
            <td class="red">
                {{"{:.2f}".format(user["signals"]["url_tweet_ratio"])}}
            </td>
            {% else %}
            {% if user["signals"]["url_tweet_ratio"] >= 0.7 %}
            <td class="orange">
                {{"{:.2f}".format(user["signals"]["url_tweet_ratio"])}}
            </td>
            {% else %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["url_tweet_ratio"])}}
            </td>
            {% endif %}
            {% endif %}

            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
            <th>User mentions-to-tweet ratio</th>
            {% if not(user["signals"]["user_mentions_tweet_ratio"] is none) %}

            {% if user["signals"]["user_mentions_tweet_ratio"] >= 3 %}
            <td class="red">
                {{"{:.2f}".format(user["signals"]["user_mentions_tweet_ratio"])}}
            </td>
            {% else %}
            {% if user["signals"]["user_mentions_tweet_ratio"] >= 0.7 %}
            <td class="orange">
                {{"{:.2f}".format(user["signals"]["user_mentions_tweet_ratio"])}}
            </td>
            {% else %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["user_mentions_tweet_ratio"])}}
            </td>
            {% endif %}
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Hashtag-to-tweet ratio</th>
            {% if not(user["signals"]["hashtag_tweet_ratio"] is none) %}
            {% if user["signals"]["hashtag_tweet_ratio"] >= 4 %}
            <td class="red">
                {{"{:.2f}".format(user["signals"]["hashtag_tweet_ratio"])}}
            </td>
            {% else %}
            {% if user["signals"]["hashtag_tweet_ratio"] >= 3 %}
            <td class="orange">
                {{"{:.2f}".format(user["signals"]["hashtag_tweet_ratio"])}}
            </td>
            {% else %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["hashtag_tweet_ratio"])}}
            </td>
            {% endif %}
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Average favorite count</th>
            {% if not(user["signals"]["average_favorite_count"] is none) %}
            {% if user["signals"]["average_favorite_count"] >= 0.5 %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["average_favorite_count"])}}
            </td>
            {% else %}
            <td>
                {{"{:.2f}".format(user["signals"]["average_favorite_count"])}}
            </td>
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        <tr>
            <th>Average retweet count</th>
            {% if not(user["signals"]["average_retweet_count"] is none) %}
            {% if user["signals"]["average_retweet_count"] > 0 %}
            <td class="green">
                {{"{:.2f}".format(user["signals"]["average_retweet_count"])}}
            </td>
            {% else %}
            <td>
                {{"{:.2f}".format(user["signals"]["average_retweet_count"])}}
            </td>
            {% endif %}
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
    </table>
</div>



<div class="recent-tweets">
    <a href="{{app_url}}/recalculate/{{collection}}/{{user['_id']}}" class="btn btn-info">Update info</a>
    <h1>Latest Tweets:</h1>
    {% if tweetArr == "[]" %}
    <p style="background: #f1f1f1; padding: 20px; font-size: 13px;">Failed to get the latest tweets</p>
    {% endif %}
</div>

<div id="tweets">
{{tweetArr}}
</div>
<div id="profile-image" style="display:none;">{{user["user"]["profile_image_url_https"]}}</div>
{% endblock %}