
body{
    margin: 0px;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #006699, #1c92d2, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #006699, #1c92d2, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


#body-content{
 min-height: 85vh;
}

.hide-basic{
    display: none;
}

.tooltip-inner {
    max-width: 320px;
    min-width: 320px;
    /* If max-width does not work, try using width instead */
    width: 320px;
    text-align: left !important;
}


#big-bird{
 width: 100%;
 margin: 4% auto;
 background-repeat: no-repeat;
 min-height: 32vw;
 background-color: #15131E;
 background-size: 100%;
 border: 1px solid white;
 position: relative;

}

#big-bird h1{
    color: #fff;
    font: normal 40px 'Bitter', serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
    margin-bottom: 5%;

}

#big-bird h2{
    color: #fff;
    font: normal 20px 'Bitter', serif;
    margin-left: 3%;
    padding-left: 2%;
    width: 50%;
    margin-top: 1%;
    line-height: 1.5;

}

#big-bird h2 a.link-not-btn{
    color: rgb(29, 155, 240);
    text-decoration: none;
}

#big-bird h2 a.link-not-btn:hover{
    color: rgb(29, 155, 240);
    text-decoration: underline;
}

.start-btn{
 margin-left: 5%;
 margin-top: 3%;
 background: #006699;
 color: #fff;
 font-size: 12px;
 border: 1px solid #257C9E;
 text-align: center;
 display: block;
 width: 100px;
 border-radius: 10px;
 padding: 5px;

}

.start-btn:hover{
  background: #fff;
  color: #006699;
  text-decoration: none;
}


a.link-btn{
 background: #006699;
 color: #fff;
 font-size: 12px;
 border: 1px solid #257C9E;
 padding: 5px;
 padding-top: 2px;
 padding-bottom: 2px;
 margin: 1px;
}

a.link-btn:hover{
  background: #fff;
  color: #006699;
  text-decoration: none;
}

span{
  font: 12px Arial, Helvetica, sans-serif;
}

.form-style-10{
	width: 500px;
	padding: 30px;
	margin: 40px auto;
	background: #FFF;
	border-radius: 13px;
	-webkit-border-radius:13px;
	-moz-border-radius: 13px;
	box-shadow: 0px 0px 10px rgba(0, 0, 6, 0.7);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 6, 0.7);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 6, 0.7);

}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
	box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
	border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
}

#buttons-search-parameters{
    margin-bottom: 15px;
}

.form-style-10 h1{
	background: #006699;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 15px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);

	border: 1px solid rgba(0, 153, 203, 0.5);
}
.form-style-10 h2{
	background: #006699;
    font: 13px Arial, Helvetica, sans-serif;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);

    border: 1px solid rgba(0, 153, 203, 0.5);
}

.areaParameters { 
    border-width: 2px 0 0 0;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    border-image: linear-gradient(to left, #F8F8F8, #006699) 1 0;

} 
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 2px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: #93e026;
}

.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #464D63;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	margin-top: 4px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 1px solid #006699;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px 'Bitter', serif;
	color: #006699;
	margin-bottom: 10px;
}
.form-style-10 .section span {
	background: #006699;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #006699;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);

	border: 1px solid #257C9E;
	font-size: 15px;



}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	    background: #fff;
    	color: #006699;

}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}

#time-periods{
    display: none;
}
#or{
    display:block;
    text-align: center;
    color: #464D63;
}
.inner-wrap hr{
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-style: solid;
    border-image: linear-gradient(to left, #006699, #F8F8F8) 1 0;

}

#footer-logo{
    display: block;
    width:50px;
    margin: auto;
    margin-bottom: 10px;
}

footer p, address{
    color: #F8F8F8;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
}

footer p a{
    color: #F8F8F8;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

footer p a:hover{
    color: rgb(29, 155, 240);
    text-decoration: none;
}

footer{
    background-color: #00001E;
    padding: 20px;
    margin: 0px;
}

#email:hover{
    text-decoration: none;
    color: rgb(29, 155, 240);
}

#burger{
    display: none;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    display: inline;
    margin-left: 4%;
    padding-right: 4%;
    border-right: 1px solid #bbb;

}

nav{
    background-color: #00001E;
    padding-top: 3px;

    margin: 0px;
}

nav a{
    color: #F8F8F8;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
  font: 12px Arial, Helvetica, sans-serif;
}

#icon{
  font: 14px Arial, Helvetica, sans-serif;
}

nav a:hover{
  color: rgb(29, 155, 240);
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

#nav-logo, #footer-logo{
    height: 28px;
    padding: 3px;
    margin-bottom: 5px;
    background: #006699;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10% 50%;
}

#footer-logo{
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-top: 0px;
    position: relative;
    top: -5px;
    left: 0px;
}

#div-nav-logo, #div-footer-logo{
    background-color: #00001E;
    border-radius: 50% 10%;
    margin-bottom: 5px;
    height: 50px;
    display: inline;
    padding: 2px;
    border: rgb(29, 155, 240) 1px solid;
}

#div-footer-logo{
    display: block;
    width: 56px;
    height: 42px;
    padding: 0px;
    margin: auto;
    margin-bottom: 20px;
}

#not-found{
    min-height: 500px;
    margin-top: 40px;
}
#not-found p{
    text-align: center;
    font-size: 16px;
}

.bottomright{
  position: absolute;
  right: 0px; bottom: 0px;
  width: 250px;
  text-align: right;
  height: 15px;
  color: #c1c1c1;
  font-size: 10px;
  padding: 1px;
}

.bottomright a{

  text-decoration: none;
  color: #a1a1a1;
  padding-right: 5px;

}

.bottomright a:hover{

  text-decoration: none;
  color: rgb(29, 155, 240);

}

.app-info{
  border-right: 5px double #1C6EA4;
  border-top: 5px double #1C6EA4;
  border-radius: 25px 0px 25px 0px;
  -webkit-box-shadow: -1px 1px 1px 1px rgba(255,255,255,0.3);
  box-shadow: -1px 1px 1px 1px rgba(255,255,255,0.3);
  padding: 2%;
  background: rgba(0, 0, 0, 0.5);
  font-size:12px !important;
  color: white;
  margin-bottom: 5%;
  margin-top: 3% !important;
}

.login-icon{
 background-color: #00001e;
 padding-right: 20px;
 border: none;
 float:right;
 border-radius: 0 0 0 50%;
}

.dropdown-menu {
    right: 20px !important;
    min-width: 8rem !important;
    background-color: #00001e !important;
    margin: 0.125rem 0 0 -10px !important;
    border-radius: 0 0 5% 5% !important;
}

a.dropdown-item{
    color: #F8F8F8;
    text-decoration: none;

}

a.dropdown-item:hover{
  background-color: transparent;
  color: rgb(29, 155, 240);
  text-decoration: none;
}

#save-as-favourite-div{
      float:right;
      margin-top: 10px;
      margin-bottom: 10px;
}


@media only screen and (max-width: 700px) {
  body{
      margin: 0px;
      background: #70C0EF;

  }

  .dropdown-menu {
      position: relative !important;
      min-width: 100% !important;
      background-color: #00001e !important;
      margin: 0 !important;
      border-radius: 0 !important;
      margin-bottom: 20px !important;
      margin-left: 0px !important;
      border-top: solid 1px white !important;
      border-bottom: solid 1px white !important;
      border: 0px;
      transform: none !important;
  }

  .dropdown-item {
      text-align: center;
  }

 .login-icon{
    float:none !important;
    padding-right: 0%;
 }

  .app-info{
    margin-bottom: 200px !important;
    width: 95% !important;
    margin: auto !important;
    padding: 15px !important;
  }


  #body-content{
   min-height: 85vh;

  }

  #big-bird{
   width: 100%;
   margin: 4% auto;
   background-repeat: no-repeat;
   height: 95vh;
   background-size: 100%;
   border: 1px solid white;
   background-color: #15131e;
   background-position: bottom;
   background-image: url('/static/images/big-bird-bot.png') !important;
   background-image: url('/bot-detector/static/images/big-bird-bot.png') !important;

  }

  #big-bird h1{
      color: #fff;
      font: normal 40px 'Bitter', serif;
      margin-left: 15%;
      margin-top: 6%;
      margin-bottom: 5%;

  }

  #big-bird h2{
      color: #fff;
      font: normal 20px 'Bitter', serif;
      margin-left: 15%;
      width: 70%;
      margin-top: 1%;

  }

  .start-btn{
   margin: auto;
   margin-top: 8%;
   background: #006699;
   color: #fff;
   font-size: 12px;
   border: 1px solid #257C9E;
   text-align: center;
   display: block;
   width: 80%;
   border-radius: 0px;
   padding: 5px;
  }



  #burger{
      display: inline;
      color: white;
      margin-right: 10px;
      margin-top: 2px;
      margin-left: auto;
      float: right;
      font-size: 24px;
  }

  li {
      display: none;
      margin-left: 0%;
      padding-right: 0%;
      padding-bottom: 5px;
      text-align: center;
      border-bottom: 1px solid #f1f1f1;
  }

  li:nth-of-type(1){
        border-top: 1px solid #f1f1f1;
  }

  ul{
    padding: 0px;
    padding-top: 5px;
  }
  #div-nav-logo{
    margin-left: 5px;
    width: 30px;
    height: 25px;
  }



    .form-style-10{
        width: 99%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 12px;
        -webkit-border-radius:12px;
        -moz-border-radius: 12px;
        box-shadow: 0px 0px 0px rgba(0, 0, 6, 0.7);
        -moz-box-shadow: 0px 0px 0px rgba(0, 0, 6, 0.7);
        -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 6, 0.7);
    }

    .form-style-10 .section span {
    	margin-left: -44px;
    	margin-top: -4px;
    	padding: 5px 10px 5px 10px;
    	font-size: 16px;
    }
    .form-style-10 h1 {
        padding-left: 35px;
     }

    .form-style-10 .section{
        	padding-left: 20px;
        	margin-bottom: 2px;
        	text-align: center;
    }

    .form-style-10 .inner-wrap{
    	margin-left: -25px;
    	margin-right: -25px;
    	margin-bottom: 30px;
    }

    .form-style-10 input[type="submit"] {

        margin: auto;
        width: 100%;
    }
    #save-as-favourite-div{
            margin: auto;
            width: 170px;
            margin-bottom: 10px;
    }

}



