
.limit-table{
    word-break: break-all;
    margin:auto;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 3px;
    padding-bottom: 0px;
    background-color: white;
    font-size: 12px;
}

.limit-table button p{
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 3px;block
}

.show-less-more-btn {
    margin: auto;
    display: block;
    margin-bottom: 5%;
}

.show-less-more-btn i {
    margin-right: 5px;
}

.limit-table .table td, .limit-table .table th {
    padding: .4rem;
}

.table td, .table th {
    font-size: 12px;
}

.profile-table-with-parameters{
    margin: auto;
    width: 80%;
    margin-top: 5%;
}

.profile-table-with-credentials{
    margin: auto;
    width: 80%;
    margin-top: 5%;
    padding-bottom: 1px;
}

.profile-table-with-credentials input{
    font-size: 12px;
}

.profile-table-with-credentials td p{
    word-break: break-all;
}

.btn {
    font-size: 12px;
}

#dca-coefficients-table th{
    word-break: normal;
}

.limit-table button{
    float: right;
}

#dca-coefficients-table td{
    word-break: break-all;
}

.use-coeff-btn{
    display:block;
    margin: auto;
    width: 80%;
    float: none !important;
    margin-bottom: 4px;
    margin-top: 4px;
}

@media only screen and (max-width: 820px) {

    .limit-table{
        width: 98%;
        font-size: 11px;
    }

    .limit-table .table td, .limit-table .table th {
        padding: .2rem;
    }

    .profile-table-with-parameters{
        width: 98%;
    }

    .profile-table-with-credentials{

        width: 98%;
    }

}
