
#div-main-table{
    width: 98%;
    min-width: 700px;
    max-width: 1000px;
    overflow-x: scroll;
    margin: auto;
    background-color: #F8F8F8;
    padding: 20px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    	-webkit-border-radius:10px;
    	-moz-border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
 .progress {
     border-radius: 5px;
     height: 30px;

 }

.progress.progress-md {
   height: 30px;
}

.prog .progress-bar div {
   display: none;
}

div.progress-bar.bg-primary.progress-bar-striped{
 height: 30px;
}

.prog{
    width: 98%;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.title-section{
 text-align: center;
 width: 98%;
     max-width: 500px;
 margin: auto;
 margin-top: 15px;
 font-weight: 600;
    background-color: #fff;
 	padding-top: 10px;
 	border-radius: 10px;
 	-webkit-border-radius: 10px ;
 	-moz-border-radius: 10px;
 	color: #006699;
 	font-size: 13px;
 	-moz-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
 	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
 	box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
 border: 1px solid rgba(0, 153, 203, 0.5);

}
.btn.btn-info.reload-btn{
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 20px;
}

.title-section div p{
    color: black;
    font-size: 10px;
    text-align: left;
    margin-left: 25%;
}

.title-section p{
    text-align: left;
    margin-left: 25%;
}



#div-main-table::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

#scroll1 div {
    height: 1px;
}
#scroll1{
    width: 98%;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
    margin-top: 3px;
    padding-left: 0%;
    padding-right: 0%;
}
#scroll1::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
#scroll1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#div-main-table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.dt-buttons{
    margin-left: 3%;
}

table.dataTable tbody tr.even{
    background-color: #f1f1f1;
}

table.dataTable th, table.dataTable td{
  font: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

table.dataTable th{
  color: #006699;
}



table.dataTable td{
  border-right: 1px solid #e1e1e1;
}

table.dataTable td:nth-child(1){
  border-left: 1px solid #e1e1e1;
}


label{
    font: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#map{
    width:70%;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
    border-radius: 10px;
        	-webkit-border-radius:10px;
        	-moz-border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#div-main-table .btn, .btn-info{
 margin: 0px;
 background: #006699;
 color: #fff;
 font-size: 12px;
 border: 1px solid #257C9E;
}

#div-main-table .btn:hover, .btn-info:hover{
 background: #fff;
 color: #006699;
}

#downloadAnchorElem{
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   color: #fff;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
   font-size: 12px;
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#downloadAnchorElem:hover{
    background: #fff;
        	color: #006699;
}

.green{
 color: green;
 background:  rgba(102, 204, 153, 0.2);
 text-align: center;
}

.red{
 color: red;
 background:  rgba(215, 44, 44, 0.2);
 text-align: center;
}

.orange{
 color: rgb(241, 90, 34);
 background:  rgba(255, 227, 34, 0.3);
 text-align: center;
}

.div-orange{
 width: 55px;
 height: 55px;
 text-align: center;
 padding-top: 17px;
 border-radius: 100px;
 background:  rgba(255,255,255, 0.7);
 margin: auto;
}

.div-green{
 width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 17px;
 border-radius: 100px;
 background:  rgba(255,255,255, 0.7);
 margin: auto;
}

.div-red{
 width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 17px;
 border-radius: 100px;
 background:  rgba(255,255,255, 0.7);
 margin: auto;
}

#main-table th{
    text-align: center;
}

.created-at{
     text-align: center;
     color: #007bff;
     font-size: 10px;
     font-weight: 600;
     width: 130px;
     margin-left: auto;
     margin-right: 0;

}

table.dataTable tbody tr.odd .created-at{
    background-color: #f1f1f1;
}

table.dataTable tbody tr.even .created-at{
    background-color: #fff;
}

.text{
    min-width: 200px;
    word-break: break-word;
}

.description{
    min-width: 190px;
    word-break: break-word;
}

.user a{
    font-weight: 600;
}


.identifies-itself-as-bot{
     text-align: center;
     color: green;
     background:  rgba(102, 204, 153, 0.2);
     font-size: 10px;
     font-weight: 600;
     width: 130px;
     margin-left: auto;
     margin-right: 0;
}


#chart-container1, #chart-container2{
    width: 40%;
    min-width: 500px;
    height: 400px;
    background: #f3f3f3;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
        	-webkit-border-radius:10px;
        	-moz-border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

@media only screen and (max-width: 700px) {

    body{
          margin: 0px;
          background: #70C0EF;

    }

    #body-content{
     width: 100%;

    }
    .title-section{
        width: 98%;
    }
    .prog{
        width: 98%;
        min-width: 200px;
        max-width: 700px;
    }

    #chart-container1, #chart-container2{
        width: 98%;
        min-width: 200px;
        height: 400px;
    }

    #map{
        width: 98%;
    }

    #div-main-table{
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        min-width: 200px;
        overflow-x: scroll;
     }

     #scroll1{
         width: 98%;
         padding-left: 1%;
         padding-right: 1%;
         min-width: 200px;
         overflow-x: scroll;
     }
     .title-section div p{
         margin-left: 25%;
     }
     .title-section{
         max-width: 700px;
     }


     .title-section p{
         margin-left: 25%;
     }
}

