#tweets{
    margin-bottom: 30px;
}
#body-content{
    text-align: center;
}

.tweet{
  display: block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  padding-top: 10px;
  background: #fff;
}

.tweet p {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

.tweet a {
  color: rgb(29, 155, 240);
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

.tweet a:hover,
.tweet-text a:focus {
  text-decoration: underline;
}

.tweet img, video{
    display:block;
    width: 100%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tweet-info-counts {
  display: flex;
  margin-left: 65px;
  margin-top: 15px;
}
.tweet-info-counts div {
  display: flex;
  margin-right: 20px;
}
.tweet-info-counts div svg {
  color:#657786;
  margin-right: 10px;
}



.tweet .avator {
  border-radius:100px;
  width:48px;
  margin-right: 15px;
  margin-left: 0px;
   float: left;
}

.tweet-header {

  font-size:12px;
  margin-bottom: 20px;
}
.tweet-content{
    margin-left: 65px;
}
.tweet-header-info {
  font-weight:bold;
}
.tweet-header-info span {
  color:#657786;
  font-weight:normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;

}

th, td{
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font: 13px Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;

}

th{
    background: #fff;
     color: #006699;
     font-size: 12px;
     font-weight: 600;
}

#div-main-table{
    width: 100%;
    margin: 0px;
}

#main-table, .signals-table{
    min-height: 350px;
    border: solid 1px #006699;
    box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
        -moz-box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 6, 0.7);
    background: #fff;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    border-radius: 2px;
    border-spacing: 0px;
    border-collapse: separate !important;
    overflow: hidden;
    padding: 0px;
}

.signals-table{

    max-width: 240px;
    min-width: 200px;

}

#main-table-div, .signals-table-div{
    width: 96%;
    max-width: 400px;

    overflow-x: scroll;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    margin-top: 20px;

}

.signals-table-div{
    max-width: 240px;
    min-width: 200px;
}

#main-table-div::-webkit-scrollbar, .signals-table-div::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 10px;
}

#main-table-div::-webkit-scrollbar-thumb, .signals-table-div::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.text{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.recent-tweets{

    max-width: 468px;
    margin: auto;
    margin-top: 20px;
}

.recent-tweets h1{
        background: #006699;
        text-align: center;
    	padding: 20px 30px 15px 30px;
    	border-radius: 10px 10px 0 0;
    	-webkit-border-radius: 10px 10px 0 0;
    	-moz-border-radius: 10px 10px 0 0;
    	color: #fff;
    	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    	font: normal 16px 'Bitter', serif;
    	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);
    	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);
    	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.3);

    	border: 1px solid rgba(0, 153, 203, 0.5);
}

.found-tweet img, video{
    display: none;
}

.green{
 color: green;
 background:  rgba(102, 204, 153, 0.2);
 text-align: center;
}

.red{
 color: red;
 background:  rgba(215, 44, 44, 0.2);
 text-align: center;
}

.orange{
 color: rgb(241, 90, 34);
 background:  rgba(241, 90, 34, 0.2);
 text-align: center;
}

.div-orange{
 width: 55px;
 height: 55px;
 text-align: center;
 padding-top: 18px;
 border-radius: 100px;
 background:  rgba(255,255,255, 0.7);
 margin: auto;
}

.div-green{
 width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 18px;
 border-radius: 100px;
 background:  rgba(255,255,255, 0.7);
 margin: auto;
}

.div-red{
 width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 18px;
 border-radius: 100px;
 background:  rgba(255,255,255, 0.7);
 margin: auto;
}

@media only screen and (max-width: 700px) {
    #main-table-div, .signals-table-div{
        width: 98%;
    }

}